<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <!-- <header>
        <nav class="navbar navbar-expand-lg bg-light navc">
            <div class="container-fluid" >
              <a class="navbar-brand" href="http://127.0.0.1:5500/hospital%20website/index.html" target="_blank" style="color: whitesmoke;" ><strong>KAMALNAYAN BAJAJ HOSPITAL</strong></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav nav1">
                  <a class="nav-link active ah" aria-current="page" href="/hospital website/Hospital.html" target="_blank" style= "color: black;margin: 0 100px;">Home</a>
                  <a class="nav-link active" href="/hospital website/register.html" style="color:black;margin: 0 50px;">Services</a>
                  <a class="nav-link active" href="/hospital website/register.html" style="color: black;margin: 0 50px;">Register</a>
                  <a class="nav-link active" href="/hospital website/Login.html" style="color: black; margin: 0 50px;" >Login</a>
                  <a class="nav-link active" href="/hospital website/Contact.html" style="color: black; margin: 0 50px;" >Contact us</a>
                </div>
              </div>
            </div>
            
          </nav>
          
    </header> -->


    <section>
    <div class="main">
       
        <h1><strong>Login</strong></h1>
        <article>
          <form action="" method="post">
            <label for="username" class="us" name>Username</label>
            <!-- <input type="password" name="Username" id="us" placeholder="Type Your username"> -->
            <input  name="username" id="us" placeholder="Type Your username">
            

            <label for="password" class="ps">Password</label>
            <input  name="password" id="ps" placeholder="Type Your Password">

            <p class="para" style="color:rgb(89, 0, 233) ;">Forget Password?</p>

            <!-- <a href="/" ><button><strong>LOGIN</strong></button></a> -->

            <p class="para1">Or Sign up Using</p>

            <img src="/hospital website/facebook.svg" alt="" width="40px" height="110px" class="im">

            <img src="/hospital website/twitter.svg" alt="" width="40px" height="110px" class="im1">

            <button>submit</button>
          </form>
        </article>
    </div>
</section>

<footer>
	
	<div class="w-80">
		<p>&copy;Kamalnayan Bajaj Hospital, Aurangabad, All rights reserved. 2019 <br></p>
		<div class="footer-box">
 		<h2>Services</h2>
 		<a href="/hospital website/Services.html">Hepatology</a>
 		<a href="#">Medical Dressage</a>
 		<a href="#">Laboratory</a>
 		<a href="#">Vaccinations</a>
 		<a href="#">Whitening</a>
 	</div>
 	<div class="footer-box">
 		<h2>About Us</h2>
 		<a href="/hospital website/Hospital.html">Company Overview</a>
 		<a href="#">Management</a>
 		<a href="#">Initiatives</a>
 		<a href="#">Carrers</a>
 		<a href="#">Our Doctors Achieve</a>
 	</div>
 	<div class="footer-box">
 		<h2>Contact Us</h2>
 		<a href="/hospital website/Contact.html">Post a Query</a>
 		<a href="#">Apollo Clinics</a>
 		<a href="#">Reach Hospitals</a>
 		<a href="#">Apollo Cradle</a>
 		<a href="#">Ask Question</a>
 	</div>
 	<div class="footer-box">
 		<h2>Facilities</h2>
 		<a href="/hospital website/register.html">Hepatology</a>
 		<a href="#">Medical DRESSAGE</a>
 		<a href="#">Laboratory</a>
 		<a href="#"> Vaccinations</a>
 		<a href="#">Whitening</a>
		 <p>
			For any suggestion / feedback please mail at <a href="">ceo@bajajhospital.com</a> </p>
 	</div>
	
	</div>
	
</footer>
<!-- End footer Coding-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>