<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="filedownload" method="get">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/n0IT7_n4n_U" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
        <!-- <label for="">Download Videos</label> -->
        
        <br>
        <button>Download Here Videos</button>
    </form>
    
    <form action="imgdownload" method="get">
        
        <img src="/download.jpeg" alt="">
        <!-- <label for="">Download Photo</label> -->
        
        <br>
        <button>Download Here Photo</button>
    </form>

</body>

</html>