<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/adduser" method="post">
        <label for="">fistName</label>
        <input type="text" name="firstName">

        <br>
        <label for="">lastName</label>
        <input type="text" name="lastName" id="">

        <br>

        <label for="">MobileNumber</label>
        <input type="number" name="mobileNumber">

        <br>

        <label for="">email</label>
        <input type="email" name="email">
        <br>
        <label for="">Password</label>
        <input type="password" name="password">
        <br>
        
        <button>Submit</button>
        
    </form>

    
</body>
</html>